*{
    font-family: "poppins", sans-serif;
}
.navbar i:hover{
    cursor: pointer;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.801)), url(/assets/img/hero.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.project{
    padding: 100px 0px 100px 0px;
}
.project img {
    height: 250px;
    transition: 0.3 ease;
}
.project img:hover{
    cursor: pointer;
    transform: scale(1.04);
}
#navbar {
    transition: 0.3s ease;
}

#navbar.scrolled {
    background-color: #0D6EFD;

}
@media (max-width: 991px) {
.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;       
    width: 100%;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

html {
    scroll-padding-top: 130px;
}
}
